.booking-confirmation {
    background-color: var(--backgorund);
    height: 700px;
    position: relative;
    width: 100%;
    margin-top: 38px;
  }
  
  .booking-confirmation .frame-10 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 128px;
    position: absolute;
    top: 40px;
    margin-left: 50px;
  }
  
  .booking-confirmation .group {
    height: 200px;
    position: relative;
    width: 328px;
  }
  
  .booking-confirmation .frame-11 {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 48px;
    position: relative;
    width: 100%;
  }
  
  .booking-confirmation .frame-12 {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 519px;
  }
  
  .booking-confirmation .text-wrapper-5 {
    align-self: stretch;
    color: #6da83e;
    font-family: "Yeseva One", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
  }
  
  .booking-confirmation .p {
    align-self: stretch;
    color: var(--font-active);
    font-family: "Afacad", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .booking-confirmation .frame-13 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    justify-content: center;
    position: relative;
  }
  
  .booking-confirmation .frame-14 {
    align-items: center;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 18px;
    padding: 24px 104px;
    position: relative;
  }
  
  .booking-confirmation .text-wrapper-6 {
    align-self: stretch;
    color: var(--font-active);
    font-family: "Afacad", Helvetica;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
  }
  
  .booking-confirmation .maya-trivedi {
    color: var(--font-inactive);
    font-family: "Afacad", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .booking-confirmation .line {
    height: 104px;
    object-fit: cover;
    position: relative;
    width: 1px;
  }
  
  .booking-confirmation .element {
    align-self: stretch;
    color: var(--font-inactive);
    font-family: "Afacad", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
  }
  
  .booking-confirmation .text-wrapper-7 {
    color: var(--font-active);
    font-family: "Afacad", Helvetica;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .booking-confirmation .text-wrapper-8 {
    color: var(--font-inactive);
    font-family: "Afacad", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: 240px;
  }
  
  .booking-confirmation .frame-15 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 175px;
    position: relative;
  }
  
  .booking-confirmation .button-instance {
    border-color: var(--font-active) !important;
    flex: 0 0 auto !important;
  }
  
  .booking-confirmation .design-component-instance-node-2 {
    color: var(--font-active) !important;
  }
  
  .booking-confirmation .button-2 {
    background-color: var(--accent) !important;
    flex: 0 0 auto !important;
  }
  
  .booking-confirmation .FLAT-OFF-on-your-wrapper {
    align-items: center;
    background-color: var(--primary-4);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--primary-2);
    display: flex;
    gap: 8px;
    justify-content: center;
    left: 0;
    padding: 8px;
    position: absolute;
    top: 62px;
    width: 1440px;
  }
  
  .booking-confirmation .FLAT-OFF-on-your {
    color: var(--font-active);
    font-family: "Afacad", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .booking-confirmation .span {
    font-weight: 700;
  }
  
  .booking-confirmation .text-wrapper-9 {
    font-weight: 600;
  }
  
  .booking-confirmation .top-navigation-bar-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .booking-confirmation .bottom-navigation-bar {
    left: 0 !important;
    position: absolute !important;
    top: 790px !important;
  }
  
  .booking-confirmation .bottom-navigation-instance {
    border-color: var(--font-inactive) !important;
  }
  
  .booking-confirmation .bottom-navigation-bar-instance {
    color: var(--font-inactive) !important;
  }
  