/* Session Details */

.session-details{
    margin-top: 25px;
    width: 761px;
    /* height: 600px; */
    gap: 16px;
    top: 282px;
    left: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.session-details p{
    width: 761px;
    height: 24px;
    gap: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
}

.data{
    width: 761px;
    height: 475px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.session{
    width: 761px;
    height: 135px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.session-with{
    width: 372.5px;
    height: 135px;
    border-radius: 24px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 16px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.session-with p{
    width:340.5px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    line-height: 19.36px;
}

.profile{
    width: 239px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden; 
}
.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.name {
    width: 155px;
    height: 49px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.name h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: rgba(0, 0, 0, 1);
}

.name p {
    all: unset;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: rgba(0, 0, 0, 1);
}


.session-price{
    width: 372.5px;
    height: 135px;
    border-radius: 24px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 16px;
    gap: 24px;
    display: inline-block;
    justify-content: center;
    align-items: center;

    p{
        width: 106px;
        height: 19px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.36px;
    }

    h3{
        width: 61px;
        height: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
        margin-top: 20px;
    }
}

.slot{
    width: 761px;
    height: 316px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.date-outer-div{
    width: 761px;
    height: 182px;
    border-radius: 24px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 16px;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-inner-div{
    width: 761px;
    height: 150px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 732px;
    height: 32px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        all: unset;
        width: 578px;
        height: 19px;
        font-size: 16px;
        line-height: 19.36px;
        color: rgba(0, 0, 0, 1);
    }

    a{
        font-size: 14px;
        line-height: 16.94px;
        text-decoration: underline;
        color: rgba(57, 57, 57, 1);
        
    }
}

.slide-calender{
    width: 732px;
    height: 85px;
    padding: 8px;
    gap: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* Arrows */
.left{
    img{
        position: absolute;
        bottom: 135px;
        margin-left: -365px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

.right{
    img{
        position: absolute;
        bottom: 135px;
        margin-left: 335px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}
.slide-calender-inner{
    width: 652px;
    height: 69px;
    gap: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow-x: scroll;
    

}

/* Hide Scroll bar */
.slide-calender-inner::-webkit-scrollbar{
    display: none;
}



.each-block{
    width: 124px;
    height: 65px;
    border-radius: 12px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 16px;
    background-color: var(--primary-4);
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: grid;
    grid-template-columns: auto auto auto auto ;
    flex: none;
    transition: box-shadow 0.3s ease;

}

/* Hover Effect */
.each-block:hover{
    cursor: pointer;
    box-shadow: 1px 4px 2px 0px rgba(200, 225, 177, 1);
}



.data-inner{
    width: 92px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    h3{
        all: unset;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        text-align: center;
        color: rgba(57, 57, 57, 1);
    }
    p{
        all: unset;
        font-weight: 300;
        font-size: 15px;
        line-height: 18.a5px;
        text-align: center;
        color: var(--primary-2);
    }
}

.line p{
    all: unset;
    width: 732px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(111, 111, 111, 1);
    text-align: center;
}
.choose-slot{
    width: 761px;
    height: 51px;
    border-radius: 24px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 16px;
    gap: 8px;
}

.selected-slot{
    width: 761px;
    height: 51px;
    border-radius: 24px;
    border: 1px solid rgba(191, 191, 191, 1);
    padding: 16px;
    gap: 8px;
}