.stepper{
    position: relative;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.step{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    color: rgba(109, 168, 62, 1);
  }

  .active .step-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
  }

  .step-name{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
  }

  
.active .step-number{
    background-color:  var(--primary-2);
    color: rgba(246, 255, 238, 1);
}

/* Need to add the Logic */
.complete .step-number{
    background-color:  var(--primary-2);
    color: rgba(246, 255, 238, 1);
}