.top-navigation-bar {
    align-items: center;
    background-color: var(--primary-5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--primary-1);
    display: flex;
    justify-content: space-between;
    padding: 8px 144px;
    position: relative;
    width: 100%;
    min-height: 60px;
  }
  
  .top-navigation-bar .frame-28 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 40px;
    position: relative;
  }
  
  .top-navigation-bar .LOGO-2 {
    position: relative !important;
  }
  
  .top-navigation-bar .frame-29 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    position: relative;
  }
  
  .top-navigation-bar .text-wrapper-17 {
    color: #2c4916;
    font-family: "Afacad", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .top-navigation-bar .search {
    height: 40px;
    position: relative;
    width: 40px;
  }
  
  .top-navigation-bar .frame-30 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
  }
  
  .top-navigation-bar .component-wrapper {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 0px 8px;
    position: relative;
  }
  
  .top-navigation-bar .frame-31 {
    flex: 0 0 auto;
    position: relative;
  }
  