.LOGO {
    background-image: url(https://c.animaapp.com/e1d4PZQa/img/souloxy-logo---website-1-5@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 46px;
    width: 166px;
  }
  