.icon-type-no-icon-wrapper {
  all: unset;
  align-items: center;
  background-color: #ff812f;
  border-radius: 32px;
  box-shadow: 0px 4px 4px #00000040;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  padding: 8px 40px;
  position: relative;
  cursor: pointer;
}

.icon-type-no-icon-wrapper .next-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 0px 12px;
  position: relative;
}

.icon-type-no-icon-wrapper .text-wrapper {
  color: var(--primary-5);
  font-family: "Afacad", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}
